# env variables required to build and run the docker containers

# Backend Configuration
# Docker & Database Configuration
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_password
POSTGRES_DB=your_db_name
DB_PORT=your_db_port

# Database URL for applications
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${DB_PORT}/${POSTGRES_DB}

# Server Configuration
PORT=8080
# NODE_ENV=development
NODE_ENV=pruduction

# CORS
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Base URL for certificate file serving
BASE_URL=http://localhost:8080

# API Base URL for Swagger
API_BASE_URL=http://localhost:8080

# Frontend Configuration
# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:8080/api
