# Database
DATABASE_URL=your_database_url

# Server Configuration
PORT=8080
NODE_ENV=development

# CORS
ALLOWED_ORIGINS=your_allowed_origins

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Base URL for certificate file serving
BASE_URL=http://localhost:8080

# API Base URL for Swagger
API_BASE_URL=http://localhost:8080